<br>
<div id="signUpFormBackground" class="backgroundLayout">
  <div class="fadeIn title_small_white">
    Sign up
  </div>
</div>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field topSpacer" style="font-family: Josefin Sans; font-size: 1.5em; text-align: center; ">
    <%= f.label "profile picture" %><br><br>
    <%= f.file_field :dp %>
  </div>

  <!-- <div class="field topSpacer">
    <%= f.label "first Name" %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

   <div class="field topSpacer">
    <%= f.label "last name" %><br />
    <%= f.text_field :lastname %>
  </div>

   <div class="field topSpacer">
    <%= f.label "location" %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field topSpacer">
    <%= f.label "website" %><br />
    <%= f.text_field :website %>
  </div>

  <div class="field topSpacer">
    <%= f.label "instagram user name" %><br />
    <%= f.text_field :instagramid %>
  </div>

  <div class="field topSpacer">
    <%= f.label "BIO" %><br />
    <%= f.text_field :bio %>
  </div>

  <div class="field topSpacer">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field topSpacer">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field topSpacer">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
 -->
  <!-- Input Effect -->
  <div id="input_effect">
    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">First Name</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Last Name</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Location</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Website</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Instagram Username</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Bio</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Email</span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;" />
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Password </span>
      </label>
    </span>
    <br><br>

    <span class="input input--haruki">
      <input class="input__field input__field--haruki" type="text" id="input-1" style="border: none; margin-top: 15px; width: 100%;"/>
      <label class="input__label input__label--haruki" for="input-1">
        <span class="input__label-content input__label-content--haruki" style="font-family: Josefin Sans; font-size: 1.5em;">Password Confirmation <em>(6 characters minimum)</em></span>
      </label>
    </span> <br><br><br>
  </div>

  <div class="actions topSpacer" style="width: 10%; margin-left:22%; font-family: Josefin Sans; font-size: 1em;">
    <%= f.submit "Sign up" %>
  </div>
  <br>
<% end %>

<div class="bottomSpacer">
<%= render "devise/shared/links" %>
</div>
